body {
  background: #ffffff;
}

.timeline {
  margin: 0 auto;
  max-width: 100%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #e4f6f7;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(149, 191, 189, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
  color: #222629;
}

.timeline__date--left {
  text-align: left;
  color: #222629;
}

.timeline__title {
  margin: 0;
  font-size: 0.9375em;
  font-weight: bold;
  color: #edfcfc;
}

.timeline__paragraph {
  line-height: 1.5;
  text-align: left;
  font-size: 0.8125em
}

